h1{
line-height: 100%;
}

#chartdiv {
      width: 100%;
      height: 800px;
}

.grayMini {
      font-size: 80%;
      color: #888;
}
    
footer{
       background-color:#444;
       color: #ddd;
       margin: 0%;
       padding: 0px 10px;
    }

a:link.f { color: #ddd; }
a:visited.f { color: #ddd; }
a:hover.f { color: #ddd; }
a:active.f { color: #ddd; }

@media screen and (max-width: 520px) {
   img.banner {
      width: 100%;
}
}

